apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    customer_app: {{ app_name }}
  name: {{ app_name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      customer_app: {{ app_name }}
  template:
    metadata:
      labels:
        customer_app: {{ app_name }}
    spec:
      containers:
      - name: {{ app_name }}
        image: {{ runtime }}:{{ runtime_version }}
