apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ app_name }}-nodeport
  name: {{ app_name }}-nodeport
spec:
  ports:
  - name: {{ app_name }}-nodeport
{%- for app_var in app_vars %}
    {%- if app_var.name | upper == 'APP_PORT' %}
    port: {{ app_var.value }}
    {%- endif %} 
{%- endfor %}
  selector:
    app: {{ app_name }}
  type: NodePort
