apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    customer_app: {{ app_name }}
  name: {{ app_name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      customer_app: {{ app_name }}
  template:
    metadata:
      labels:
        customer_app: {{ app_name }}
    spec:
      containers:
      - name: {{ app_name }}
        image: {{ registry_user }}/{{ app_name }}:latest
        env:
          - name: DB_NAME
            value: {{ app_owner }}
          - name: DB_HOST
            value: uad-postgres-cluster.uet-app-distributor.svc.cluster.local
          - name: DB_PORT
            value: "5432"
          - name: DB_USER
            value: {{ app_owner }}
          - name: DB_PASSWORD
            value: {{ app_owner }}
