---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    customer_app: {{ app_name }}
  name: be-{{ app_name }}
  namespace: {{ app_id }}
spec:
  replicas: 1
  selector:
    matchLabels:
      customer_app: be-{{ app_name }}
  template:
    metadata:
      labels:
        customer_app: be-{{ app_name }}
    spec:
      containers:
      - name: be-{{ app_name }}
        image: {{ registry_user }}/be-{{ app_name }}:latest
        env:
          - name: DB_NAME
            value: {{ app_owner }}
          - name: DB_HOST
            value: uad-postgres-cluster.uet-app-distributor.svc.cluster.local
          - name: DB_PORT
            value: "5432"
          - name: DB_USER
            value: {{ app_owner }}
          - name: DB_PASSWORD
            value: {{ app_owner }}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    customer_app: {{ app_name }}
  name: be-{{ app_name }}-svc
  namespace: {{ app_name }}
spec:
  ports:
    - name: be-{{ app_name }}
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    customer_app: be-{{ app_name }}
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: be-{{ app_name }}-ingress
  namespace: {{ app_name }}
spec:
  rules:
    - host: api-{{ app_name }}.{{ uad_domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: be-{{ app_name }}-svc
                port:
                  number: 8080
