apiVersion: batch/v1
kind: Job
metadata:
  namespace: uet-app-distributor
  name: customer-app-initial-job-{{ db_new_user }}
spec:
  ttlSecondsAfterFinished: 300
  backoffLimit: 2
  template:
    spec:
      restartPolicy: Never
      containers:
        - image: {{ registry_user }}/customer-app-initial-job:latest
          imagePullPolicy: Always
          name: create-db-user
          env:
            - name: DB_NAME
              value: uet_app_distributor
            - name: DB_HOST
              value: uad-postgres-cluster
            - name: DB_PORT
              value: "5432"
            - name: DB_NEW_USER
              value: {{ db_new_user }}
            - name: DB_NEW_USER_PASSWORD
              value: {{ db_new_user_password }}
            - name: CF_CUSTOMER_APP_CNAME_RECORD
              value: {{ app_name }}
            - name: CF_API_KEY
              valueFrom:
                secretKeyRef:
                  name: cloudflare-credentials
                  key: api_key
            - name: CF_API_EMAIL
              valueFrom:
                secretKeyRef:
                  name: cloudflare-credentials
                  key: api_email
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: distributor.uad-postgres-cluster.credentials.postgresql.acid.zalan.do
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: distributor.uad-postgres-cluster.credentials.postgresql.acid.zalan.do
                  key: password

