apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: {{ app_name }}
  name: {{ app_name }}
spec:
  replicas: 3
  selector:
    matchLabels:
      app: {{ app_name }}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: {{ app_name }}
    spec:
      containers:
      - image: {{ image }}
        name: {{ app_name }}
        resources: {}
        env:
{% for env_var in env_vars %}
        - name: {{ env_var.name|upper }}
          value: {{ env_var.value }}
{% endfor %}
status: {}
